
@{
    ViewBag.Title = "Shoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <div class="navbar navbar-inverse">
        <div class="panel-default">
            <div class="navbar-header" style="color:aqua">
                @Html.ActionLink("Magnolia Boutique", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Catergory <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color:dimgrey">
                            <li>@Html.ActionLink("Clothes", "Clothes", "Business")</li>
                            <li>@Html.ActionLink("Shoes", "Shoes", "Business")</li>
                            <li>@Html.ActionLink("Bags", "Bags", "Business")</li>
                        </ul>
                    </li>
                    <li style="margin-left:320px">
                        <a href="@Url.Action("Cart","Business")">
                            0
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<h2>Shoes</h2>
<img src="~/Images/Shoes/1152230-WHITEBLACKBLACKBLACK-1-8rx.jpg" height="300" width"300" /> <h4>R500</h4>
<img src="~/Images/Shoes/1153301-VIZIPRO-1-rKJ.jpg" height="300" width="300" /><h4>R600</h4>
<img src="~/Images/Shoes/1156500-SMOKEGREYMINTFOAMDUSTYSAG-1-Soa.jpg" height="300" width="300" /><h4>R400</h4>
<img src="~/Images/Shoes/1157398-WHITEBLUEORANGE-1-5TI.jpg" height="300" width="300" /><h4>R500</h4>
<img src="~/Images/Shoes/1158013-CBLACKFTWWHT-1-KcR.jpg" height="300" width="300" /><h4>R1000</h4>
<img src="~/Images/Shoes/1158236-BLACKBLACKBLACK-1-Tik.jpg" height="300" width="300" /><h4>R900</h4>
<img src="~/Images/Shoes/1158550-COREBLACKFTWRWHITECOREBLA-1-TwZ.jpg" height="300" width="300" /><h4>R1500</h4>
<img src="~/Images/Shoes/1158626-VIZIPRO-1-0FO.jpg" height="300" width="300" /><h4>R650</h4>
<img src="~/Images/Shoes/1158649-REVERIE-1-kot.jpg" height="300" width="300" /><h4>R700</h4>
<img src="~/Images/Shoes/1159140-BLACKMULTI-1-gdh.jpg" height="300" width="300" /><h4>R500</h4>
<img src="~/Images/Shoes/1159178-MULTI-1-fPe.jpg" height="300" width="300" />><h4>R300</h4>
<img src="~/Images/Shoes/1159214-HYPERVIOLETBLACKFLASHCRIMS-1-kgH.jpg"height="300"width="300" /><h4>R1800</h4>

<i class="bi bi-house-fill"></i>@Html.ActionLink("Back home", "Index", "Home")
<footer>
</footer>
