
@{
    ViewBag.Title = "Shoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <div class="navbar navbar-inverse">
        <div class="panel-default">
            <div class="navbar-header" style="color:aqua">
                @Html.ActionLink("Magnolia Boutique", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Catergory <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color:dimgrey">
                            <li>@Html.ActionLink("Clothes", "Clothes", "Business")</li>
                            <li>@Html.ActionLink("Shoes", "Shoes", "Business")</li>
                            <li>@Html.ActionLink("Bags", "Bags", "Business")</li>
                        </ul>
                    </li>
                    <li style="margin-left:320px">
                        <a href="@Url.Action("Cart","Business")">
                            0
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<h2>Shoes</h2>

